footer.footer
  .container
    .footer-heading
      a(href="#" title='' target="_self")
        img(src=path+"/assets/images/common/logo.svg", alt="" title="")
      h2.footer-name MINH TU LAW LIMITED COMPANY
    .footer-wrap
      .footer-info.is-address
        ul.footer-list
          li.footer-item Địa chỉ: 9-11 Tôn Đức Thắng, li. Bến Nghé, Quận 1
          li.footer-item Hotline: 02888837868
          li.footer-item Email: votu@luatminhtu.vn
        p
          img(src=path+"/assets/images/common/notice.png", alt="" title="")
        ul.share
          li.share-item
            a(href="#" title='' target="_blank")
              img(src=path+"/assets/images/common/ico_facebook.svg", alt="" title="")
          li.share-item
            a(href="mailto:votu@luatminhtu.vn" title='' target="_blank")
              img(src=path+"/assets/images/common/ico_mail.svg", alt="" title="")
          li.share-item
            a(href="tel:02888837868" title='' target="_blank")
              img(src=path+"/assets/images/common/ico_phone.svg", alt="" title="")
          li.share-item
            a(href="#" title='' target="_blank")
              img(src=path+"/assets/images/common/ico_connect.svg", alt="" title="")
      .footer-info
        h2.footer-title GIỚI THIỆU
        ul.footer-list
          li
            a.footer-item(href="#" title='' target="_self") Giới thiệu Luật Minh Tú
          li
            a.footer-item(href="#" title='' target="_self") Đội ngũ Luật Sư
          li
            a.footer-item(href="#" title='' target="_self") Luật sư điều hành: Võ Hồng Tú
          li
            a.footer-item(href="#" title='' target="_self") Chính sách bảo mật
          li
            a.footer-item(href="#" title='' target="_self") Chính sách bảo vệ dữ liệu cá nhân
      .footer-info
        h2.footer-title dịch vụ
        ul.footer-list
          li
            a.footer-item(href="#" title='' target="_self") Tư vấn nhượng quyền thương hiệu
          li
            a.footer-item(href="#" title='' target="_self") Mua bán sáp nhập (M&A)
          li
            a.footer-item(href="#" title='' target="_self") Tư vấn pháp lý lĩnh vực bất động sản
          li
            a.footer-item(href="#" title='' target="_self") Phòng pháp chế doanh nghiệp thuê ngoài
          li
            a.footer-item(href="#" title='' target="_self") Tư vấn soạn thảo, rà soát hợp đồng
          li
            a.footer-item(href="#" title='' target="_self") Giải quyết tranh chấp
    p.footer-notice Trang web này chứa thông tin chung dựa trên luật pháp Việt Nam. Tuy nhiên, xin lưu ý rằng nó không cấu thành tư vấn pháp lý hoặc thương mại, cũng như không nhằm mục đích tạo mối quan hệ luật sư - khách hàng. Nó cũng không nhằm mục đích cung cấp một tuyên bố toàn diện hoặc chi tiết về luật pháp.
