header.header-wrapper
  .container
    .header
      .header-logo
        a(href="#" title='' target="_self")
          img(src=path+"/assets/images/common/logo.png", alt="" title="")
      .header-main
        ul.menu
          li
            a.menu-item(href="/" title='' target="_self") Trang Chủ
          li.is-sub.js-sub
            a.menu-item(href="/about.html" title='' target="_self") Giới thiệu
              span.icon
                img(src=path+"/assets/images/common/ico_down.svg", alt="" title="")
            ul.submenu
              li
                a.menu-item(href="" title='' target="_self") Luật sư điều hành
              li
                a.menu-item(href="" title='' target="_self") Lịch sử thành lập
              li
                a.menu-item(href="" title='' target="_self") Văn hoá công ty
              li
                a.menu-item(href="" title='' target="_self") Luật sư điều hành
              li
                a.menu-item(href="" title='' target="_self") Lịch sử thành lập
              li
                a.menu-item(href="" title='' target="_self") Văn hoá công ty
              li
                a.menu-item(href="" title='' target="_self") Luật sư điều hành
              li
                a.menu-item(href="" title='' target="_self") Lịch sử thành lập
              li
                a.menu-item(href="" title='' target="_self") Văn hoá công ty
              li
                a.menu-item(href="" title='' target="_self") Luật sư điều hành
              li
                a.menu-item(href="" title='' target="_self") Lịch sử thành lập
              li
                a.menu-item(href="" title='' target="_self") Văn hoá công ty
              li
                a.menu-item(href="" title='' target="_self") Luật sư điều hành
              li
                a.menu-item(href="" title='' target="_self") Lịch sử thành lập
              li
                a.menu-item(href="" title='' target="_self") Văn hoá công ty
          li
            a.menu-item(href="#" title='' target="_self") Dịch Vụ
          li
            a.menu-item(href="#" title='' target="_self") Tin Tức
          li
            a.menu-item(href="#" title='' target="_self") Hỏi Đáp
          li
            a.menu-item(href="#" title='' target="_self") Liên Hệ
      .header-bar.js-bar
        .menu-icon
.contact-menu
  ul.share
    li.share-item
      a(href="tel:02888837868" title='' target="_blank")
        img(src=path+"/assets/images/common/ico_phone1.svg", alt="" title="")
    li.share-item
      a(href="#" title='' target="_blank")
        img(src=path+"/assets/images/common/ico_mess.svg", alt="" title="")
    li.share-item
      a(href="#" title='' target="_blank")
        img(src=path+"/assets/images/common/ico_zalo.svg", alt="" title="")
